/* top, right, bottom, left */
div {
  padding: 10px, 20px, 2px, 6px;
}

/* top & bottom, left & right */
span {
  margin: 1em, 3em;
}

/* all */
.random-selector {
  padding: 50px;
  margin: 10px;
}

/* size, style, color */
div:hover {
  border: 4px double red;
}

/* height and width */
a {
  width: 50%;
  height: 30px;
}
