body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: red;
  font: bolder;
}
.nav-item:active {
  text-decoration: underline;
  color: brown;
}
footer {
  background-color: black;
  color: blanchedalmond;
}
